/*
*   CSS for Chessground with  8x8 board dimension
*/


.dim8x8 .cg-wrap {
    width: calc(var(--board-width) * 2);
    height: calc(var(--board-width) * 2);
}

.dim8x8 cg-helper {
    width: calc(100% / 8);
    height: calc(100% / 8);
}

.dim8x8 cg-container {
    width: 800%;
    height: 800%;
}
.dim8x8 .cg-wrap piece {
    width: calc(100% / 8);
    height: calc(100% / 8); 
}
.dim8x8 cg-board square {
    width: calc(100% / 8);
    height: calc(100% / 8);
}